html, body
{
    margin: 0px;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

table#main
{
    border: 0px;
    height: 100%;
    min-height: 576px;
    margin: 0px;
    border-spacing: 0px;
    width: 100%;
}

td
{
    min-height: 5px;
}

td#content
{
    min-width: 768px;
}

td#sidebar
{
    background-color: #e66755;
    width: 25%;
    min-width: 256px;
    text-align: center;
    font-size: 20px;
}

table#sidebar
{
    border-spacing: 5px;
    width: 92%;
    height: 90%;
    margin: 10px;
}