html, body
{
    margin: 0px;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

table#main
{
    border: 0px;
    height: 100%;
    min-height: 576px;
    margin: 0px;
    border-spacing: 0px;
    width: 100%;
}

td
{
    min-height: 5px;
}

td#content
{
    min-width: 768px;
    text-align: center;
    vertical-align: auto;
    padding-top: 50px;
    font-size: 20px;
}

td#sidebar
{
    background-color: #e66755;
    width: 25%;
    min-width: 256px;
    text-align: center;
    vertical-align: top;
    padding-top: 50px;
    font-size: 20px;
}

a:link 
{
    text-decoration: none;
    color: black;
}
  
a:visited
{
    text-decoration: none;
    color: black;
}
  
a:hover
{
    text-decoration: none;
    color: black;
}
  
a:active
{
    text-decoration: none;
    color: black;
}